<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.githubyss.mobile.common.kit"
    tools:ignore="LockedOrientationActivity"
    >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.application.ComkitApplication"
        android:allowBackup="false"
        android:icon="@mipmap/comres_ic_launcher_default"
        android:label="${APP_NAME}"
        android:roundIcon="@mipmap/comres_ic_launcher_default_round"
        android:supportsRtl="true"
        android:theme="@style/comresTheme_application_gray"
        android:usesCleartextTraffic="true"
        >

        <activity
            android:name=".app.page.homepage.HomepageActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/comresTheme_activity_noActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app.page.web_view.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/comresTheme_activity_noActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            />
    </application>
</manifest>
